<div id="main-wrapper" class="container align-items-center">
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <div class="card border-0">
                <div class="card-body my-5">
                    <div class="row no-gutters">
                        <div class="col-lg-4 d-none d-lg-inline-block">
                            <div class="account-block rounded-right">
                                <div class="overlay rounded-right"></div>
                                <div class="account-testimonial">
                                    
                                    <div class="row">
                                        <img src="" class="logo">
                                    </div>
                                    <p>- Admin User</p>
                                    <h6 class="h5 my-0">Welcome back!</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 shadow-lg  bg-white rounded w-50">
                            <div class="p-5">
                                <div class="mb-5">
                                    <h3 class="h4 font-weight-bold text-center text-uppercase">Athentification</h3>
                                </div>
                                <form class="justify-content-center mx-5">
                                    <div class="form-group">
                                        <input type="text" class="form-control w-30" id="name" placeholder="nom utilisateur">
                                    </div>
                                    <div class="form-group my-5">
                                        
                                        <input type="password" class="form-control w-30" id="exampleInputPassword1" placeholder="mot de passe ">
                                    </div>
                                    <div class="row  my-3 px-6 w-50 align-items-end">
                                        <button type="submit" class="btn btn-theme" [routerLink]="['/']">se connecter</button>
                                        
                                    </div>
            
                                    <div class="row justify-content-center my-2">
                                         <a href="#l" class="forgot-link float-right text-primary">Forgot password?</a>
                                    </div>
                                    
                                   
                                </form>
                            </div>
                        </div>

                       
                    </div>

                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->



            <!-- end row -->

        </div>
        <!-- end col -->
    </div>
    <!-- Row -->
